body {
    background-color: #fcd7b0;
    margin: 0;
    font-family: 'Concert One' ,'Space Mono', Arial, Helvetica, sans-serif;
}

.sidenav{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    color: #5fc8ff;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidenav h2{
    text-align: center;
}

.sidenav a {
    display: block;
    padding: 16px;
    text-decoration: none;
}
   
  
main{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
main h2{
    text-align: center;
}

.note_list{
    list-style: square;
    font-size: 17px;
    color: #5fc8ff;
}

ul.about_docs{
    padding-left: 80%;
}

ul.about_docs li{
    display: inline-block;
}

@media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidnav a {float: left;}
    div.content {margin-left: 0;}
}
  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
}

/* 
.sidenav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fff0e0;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidenav h2{
    text-align: center;
}

.note_list{
    list-style: square;
    font-size: 17px;
    color: cornflowerblue;
}
.content h2{
    text-align: center;
}
  
.content {
    margin-left: 200px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 6;
}

ul.about_docs li{
    width: auto;
    display: inline-block;
    float: right;
    margin: 20px;
} */




