body {
    background-color: #fcd7b0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sidenav {
    background-color: #fff0e0;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.sidenav h2{
    text-align: center;
}
.content h2{
    text-align: center;
}
  
.content {
    margin-left: 200px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 6;
}

ul.about_docs li{
    width: auto;
    display: inline-block;
    float: right;
    margin: 20px;
}




