body {
    background-color: #fcd7b0;
    margin: 0;
    font-family: 'Concert One' ,'Space Mono', Arial, Helvetica, sans-serif;
    
}

.sidenav{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    color: #5fc8ff;
    position:fixed;
    height: 100%;
    overflow: auto;
}
.sidenav h2{
    text-align: center;
}

.sidenav a {
    display: block;
    padding: 16px;
    text-decoration: none;
}
   
  
main, header{
    /* display: grid; */
    margin-left: 200px;
    padding: 1px 16px;
}
main, header h2{
    text-align: center;
    color: #5fc8ff;
}

.note_list{
    list-style: square;
    font-size: 17px;
    color: #5fc8ff;
}

ul.about_docs{
    padding-left: 80%;
}

ul.about_docs li{
    display: inline-block;
}

/* Buttons styling                                      */

/* Button above Textbox                                 */
.button_above{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
/* Botton 1 */
.but_theme1 {
    columns: 1;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5394a0;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;
    
}
  
.but_theme1:hover {
    background-color: #38646d
}
  
  .but_theme1:active {
    background-color: #1d3539;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Button 2 */
.but_theme2 {
    grid-column: 6/7;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #6e6987;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;
}
  
.but_theme2:hover {
    background-color: #444154
}
  
  .but_theme2:active {
    background-color: #1a1920;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Button Below Textbox                                 */
/* Button 3 */
.but_theme3 {
    grid-column: 6/7;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5394a0;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;
}
  
.but_theme3:hover {
    background-color: #38646d
}
  
  .but_theme3:active {
    background-color: #1d3539;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* Button 4 */
.but_theme4 {
    grid-column: 6/7;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d9827c;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;
}
  
.but_theme4:hover {
    background-color: #a5635e
}
  
  .but_theme4:active {
    background-color: #724440;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidnav a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}
  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
}

/* 
.sidenav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fff0e0;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidenav h2{
    text-align: center;
}

.note_list{
    list-style: square;
    font-size: 17px;
    color: cornflowerblue;
}
.content h2{
    text-align: center;
}
  
.content {
    margin-left: 200px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 6;
}

ul.about_docs li{
    width: auto;
    display: inline-block;
    float: right;
    margin: 20px;
} */




